@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }

    /* Safari */
    @@-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<div>
    <div class="text-center">
        <h1 class="display-4">Upload an image and apply effects</h1>
    </div>

    <div class="text-left top-buffer">
        <input id="uploadFile" type='file' accept='image/*' onchange='openFile(event)'><br>

        <div class="row top-buffer">
            <div class="col-4">
                <button id="btnEffectA" class="effect-button" type="button" onclick="applyEffectA()" disabled>Grayscale Effect</button>
            </div>
            <div class="col-4">
                <button id="btnEffectB" class="effect-button" type="button" onclick="applyEffectB()" disabled>Invert Effect</button>
            </div>
            <div class="col-4">
                <button id="btnEffectC" class="effect-button" type="button" onclick="applyEffectC()" disabled>Contrast Effect</button>
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-sm-6">
                <h3>Input</h3>
                <img id="inputImg" class="img-fluid">
            </div>
            <div class="col-sm-6">
                <h3>Output</h3>
                <img id="outputImg" class="img-fluid">
                <div id="spinner" class="loader" style="max-width: 400px; max-height: 400px; display: none;"></div>
            </div>
        </div>
    </div>
</div>
